// @import ../../color

$color-tab-border: $color-gray-lighter

.enonic.tab:not(.group)
	border-bottom-color: transparent
	border-bottom-style: none
	border-bottom-width: 0

	border-left-color: transparent
	border-left-style: solid
	border-left-width: 1px

	border-right-color: transparent
	border-right-style: solid
	border-right-width: 1px

	border-top-color: transparent
	border-top-left-radius: 5px
	border-top-right-radius: 5px
	border-top-style: solid
	border-top-width: 1px

	color: inherit
	cursor: pointer
	margin-bottom: -1px
	padding: 5px

	&.active
		background-color: $color-background
		border-left-color: $color-tab-border
		border-right-color: $color-tab-border
		border-top-color: $color-tab-border
	&:hover:not(:disabled)
		background-color: $color-gray-lightest

	//──────────────────────────────────────────────────────────────────────────
	// Colors
	//──────────────────────────────────────────────────────────────────────────
	&.black
		background-color: $color-black
		border-left-color: transparent
		border-right-color: transparent
		border-top-color: transparent
		color: $color-background
		&.active
			background-color: $color-gray-darker
		&:hover:not(:disabled)
			background-color: $color-gray-light
	&.blue
		background-color: $color-blue
		border-left-color: transparent
		border-right-color: transparent
		border-top-color: transparent
		color: $color-background
		&.active
			background-color: $color-blue-dark
		&:hover:not(:disabled)
			background-color: $color-blue-lighter
	&.gray
		background-color: $color-gray
		border-left-color: transparent
		border-right-color: transparent
		border-top-color: transparent
		color: $color-background
		&.active
			background-color: $color-gray-darker
		&:hover:not(:disabled)
			background-color: $color-gray-light
	&.green
		background-color: $color-green
		border-left-color: transparent
		border-right-color: transparent
		border-top-color: transparent
		color: $color-background
		&.active
			background-color: $color-green-dark
		&:hover:not(:disabled)
			background-color: $color-green-lighter
	&.orange
		background-color: $color-orange
		border-left-color: transparent
		border-right-color: transparent
		border-top-color: transparent
		color: $color-background
		&.active
			background-color: $color-orange-dark
		&:hover:not(:disabled)
			background-color: $color-orange-lighter
	&.purple
		background-color: $color-purple
		border-left-color: transparent
		border-right-color: transparent
		border-top-color: transparent
		color: $color-background
		&.active
			background-color: $color-purple-dark
		&:hover:not(:disabled)
			background-color: $color-purple-lighter
	&.red
		background-color: $color-red
		border-left-color: transparent
		border-right-color: transparent
		border-top-color: transparent
		color: $color-background
		&.active
			background-color: $color-red-dark
		&:hover:not(:disabled)
			background-color: $color-red-lighter
	&.white
		background-color: $color-white
		&.active
			background-color: $color-background

//──────────────────────────────────────────────────────────────────────────────
// Dark-theme
//──────────────────────────────────────────────────────────────────────────────
.dark-theme .enonic.tab:not(.group)
	color: var(--darkmode-color-pair-darkest-fg)
	&.active
		background-color: var(--darkmode-color-pair-darkest-bg)
	&:hover:not(:disabled)
		color: $color-foreground

	&.white
		color: $color-foreground
		&.active
			background-color: $color-gray-light
		&:hover:not(:disabled)
			background-color: $color-gray-lighter
