.enonic.group
	column-gap: var(--air-horizontal)
	display: flex
	flex-wrap: nowrap
	row-gap: var(--air-vertical)

	justify-content: flex-start
	&.center
		justify-content: center
	&.right
		justify-content: flex-end
	&.stretch
		justify-content: space-between

	flex-direction: row
	&.vertical
		flex-direction: column
