.enonic.svg
	//──────────────────────────────────────────────────────────────────────────
	// Colors
	//──────────────────────────────────────────────────────────────────────────
	&.black
		color: var(--color-black)
	&.blue
		color: var(--color-blue)
	&.green
		color: var(--color-green)
	&.orange
		color: var(--color-orange)
	&.purple
		color: var(--color-purple)
	&.red
		color: var(--color-red)
	&.white
		color: var(--color-white)
