.enonic.svg
	//──────────────────────────────────────────────────────────────────────────
	// Colors
	//──────────────────────────────────────────────────────────────────────────
	&.black
		color: $color-black
	&.blue
		color: $color-blue
	&.green
		color: $color-green
	&.orange
		color: $color-orange
	&.purple
		color: $color-purple
	&.red
		color: $color-red
	&.white
		color: $color-white
