// @import ../../color

.enonic.button:not(.group)
	border: none
	box-sizing: border-box
	cursor: pointer
	font-family: Open Sans,Helvetica,sans-serif
	font-size: 1rem
	padding: 4px 19px
	&:focus
		outline-offset: -2px
		outline-style: auto
		outline-width: 2px

	//──────────────────────────────────────────────────────────────────────────
	// Colors
	//──────────────────────────────────────────────────────────────────────────
	color: $color-white
	background-color: $color-gray-light
	&:hover:not(:disabled)
		background-color: $color-gray-lighter
	&.black
		background-color: $color-black
		&:hover:not(:disabled)
			background-color: $color-gray-darkest
	&.blue
		background-color: $color-blue
		&:hover:not(:disabled)
			background-color: $color-blue-light
	// Same as default above
	// &.gray
	// 	background-color: $color-gray-light
	// 	&:hover:not(:disabled)
	// 		background-color: $color-gray-lighter
	&.green
		background-color: $color-green
		&:hover:not(:disabled)
			background-color: $color-green-light
	&.orange
		background-color: $color-orange
		&:hover:not(:disabled)
			background-color: $color-orange-light
	&.purple
		--button-purple-h: var(--color-purple-hue)
		--button-purple-s: var(--color-purple-saturation)
		--button-purple-l: calc(var(--color-purple-lightness) + 10%)
		background-color: hsl(var(--button-purple-h), var(--button-purple-s), var(--button-purple-l))
		&:hover:not(:disabled)
			--button-purple-l: calc(var(--color-purple-lightness) + 20%)
			background-color: hsl(var(--button-purple-h), var(--button-purple-s), var(--button-purple-l))
	&.red
		background-color: $color-red
		&:hover:not(:disabled)
			background-color: $color-red-light

	&.primary
		background-color: $color-blue-light
		&:hover:not(:disabled)
			background-color: $color-blue-lighter

	//──────────────────────────────────────────────────────────────────────────
	// Transparent
	//──────────────────────────────────────────────────────────────────────────
	&.transparent
		color: $color-gray
		background-color: transparent
		&:hover:not(:disabled)
			color: $color-gray-dark
			background-color: transparent

		&.black
			color: $color-black
			&:hover:not(:disabled)
				color: $color-gray-darkest
		&.blue
			color: $color-blue
			&:hover:not(:disabled)
				color: $color-blue-light
		// Same as default above
		// &.gray
		// 	color: $color-gray-light
		// 	&:hover:not(:disabled)
		// 		color: $color-gray-lighter
		&.green
			color: $color-green
			&:hover:not(:disabled)
				color: $color-green-light
		&.orange
			color: $color-orange
			&:hover:not(:disabled)
				color: $color-orange-light
		&.purple
			color: $color-purple-light
			&:hover:not(:disabled)
				color: $color-purple-lighter
		&.red
			color: $color-red
			&:hover:not(:disabled)
				color: $color-red-light


//──────────────────────────────────────────────────────────────────────────────
// Dark-theme
//──────────────────────────────────────────────────────────────────────────────
.dark-theme .enonic.button:not(.group)
	&.transparent
		&.black
			color: $color-white
			&:hover:not(:disabled)
				color: $color-gray-lighter
		&.purple
			color: $color-purple-lighter
			&:hover:not(:disabled)
				color: $color-purple-lightest
