$color-black: #000
$color-white: #fff

$color-grey: #808080
$color-grey-dark: darken($color-grey, 10)
$color-grey-light: lighten($color-grey, 10) // 9a9a9a
$color-grey-lighter: lighten($color-grey, 20) // b3b3b3

//──────────────────────────────────────────────────────────────────────────────
// Blue
//──────────────────────────────────────────────────────────────────────────────
// enonic-admin-artifacts
//──────────────────────────────────────────────────────────────────────────────
// $admin-bg-light-blue: #ebf5ff
// $admin-blue: #4294de
// $admin-button-blue1: #5a94ee
// $admin-button-blue2: #2c76e9
// $admin-button-blue3: #263fe9
// $page-editor-message-blue: #224E83
// $admin-option-set-header-bg: $admin-input-blue
// $admin-option-set-input-checked: #0e4d8a
//──────────────────────────────────────────────────────────────────────────────
// CSS Named Colors
//──────────────────────────────────────────────────────────────────────────────
// $color-named-blue: #00F
// $color-named-cornflowerblue: #6495ED
// $color-named-royalblue: #4169E1
$color-blue: cornflowerblue
$color-blue-light: lighten($color-blue, 10%)
$color-blue-lighter: lighten($color-blue, 20%)
$color-blue-lightest: lighten($color-blue, 30%)
