@import variables, functions, color, mixins, breakpoints, fonts, components, features

.#{$prefix},
.#{$prefix} *
	box-sizing: border-box
	margin: 0
	padding: 0

html.#{$prefix}
	height: 100%

body.#{$prefix}
	// color-scheme: light dark
	height: 100%

// @media (prefers-color-scheme: dark)
// @media (prefers-color-scheme: light)

body.#{$prefix},
.#{$prefix}.light-theme
	background-color: var(--#{$prefix}-color-bg)
	color: var(--#{$prefix}-color-fg)
	color-scheme: light

.#{$prefix}.dark-theme
	background-color: var(--#{$prefix}-darkmode-color-pair-darker-bg)
	color: var(--#{$prefix}-darkmode-color-pair-darker-fg)
	color-scheme: dark // For scrollbars and probably more
