@import breakpoints

.enonic.test.breakpoints
	background-color: gray
	&:before
		@include phone
			content: "phone"
		@include tablet
			content: "tablet"
		@include laptop
			content: "laptop"
		@include desktop
			content: "desktop"
		@include hd
			content: "hd"
		@include full
			content: "full"
		@include quad
			content: "quad"
		@include ultra
			content: "ultra"

.enonic.test.breakpoints-down
	background-color: gray
	&:before
		// @include ultraDown
		// 	content: "ultraDown"
		@include quadDown
			content: "quadDown"
		@include fullDown
			content: "fullDown quadDown"
		@include hdDown
			content: "hdDown fullDown quadDown"
		@include desktopDown
			content: "desktopDown hdDown fullDown quadDown"
		@include laptopDown
			content: "laptopDown desktopDown hdDown fullDown quadDown"
		@include tabletDown
			content: "tabletDown laptopDown desktopDown hdDown fullDown quadDown"
		@include phoneDown
			content: "phoneDown tabletDown laptopDown desktopDown hdDown fullDown quadDown"

.enonic.test.breakpoints-up
	background-color: gray
	&:before
		@include phoneUp
			content: "phoneUp"
		@include tabletUp
			content: "phoneUp tabletUp"
		@include laptopUp
			content: "phoneUp tabletUp laptopUp"
		@include desktopUp
			content: "phoneUp tabletUp laptopUp desktopUp"
		@include hdUp
			content: "phoneUp tabletUp laptopUp desktopUp hdUp"
		@include fullUp
			content: "phoneUp tabletUp laptopUp desktopUp hdUp fullUp"
		@include quadUp
			content: "phoneUp tabletUp laptopUp desktopUp hdUp fullUp quadUp"
		@include ultraUp
			content: "phoneUp tabletUp laptopUp desktopUp hdUp fullUp quadUp ultraUp"

