// @import ../../color

.enonic.bar:not(.item)
	display: flex
	flex-direction: row // sets main-axis
	gap: 10px
	justify-content: flex-start // on main-axis

	&.low-shade
		background-color: var(--color-low-shade-bg)
		color: var(--color-low-shade-fg)
	&.high-shade
		background-color: var(--color-high-shade-bg)
		color: var(--color-high-shade-fg)

	//──────────────────────────────────────────────────────────────────────────
	// ToolBar
	//──────────────────────────────────────────────────────────────────────────
	&.tool
		border-bottom: 1px solid $color-gray

//──────────────────────────────────────────────────────────────────────────────
// Dark-theme
//──────────────────────────────────────────────────────────────────────────────
.dark-theme .enonic.bar:not(.item)
	&.low-tint
		background-color: var(--darkmode-color-pair-dark-bg)
		color: var(--darkmode-color-pair-dark-fg)
	&.high-tint
		background-color: var(--darkmode-color-pair-lightest-bg)
		color: var(--darkmode-color-pair-lightest-fg)
